
<div id="tags">
  <!-- Tags Header -->
  <%- partial('partials/header') %>
  <h1><%=page.tag%></h1>
  <div class="container portrait">
  <% page.posts.each(article => { %>
    <a class="card" href="<%=url_for(article.path)%>">
      <span class="title">
        <%=article.title%>
      </span>
      <time class="time" datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </a>
  <% }) %>
  </div>
</div>

<div id="paginator">
  <%-paginator()%>
</div>
